@import url(https://fonts.googleapis.com/earlyaccess/sawarabigothic.css);

nav {
  left:0;
  height: 60px;
  top:0;
  width:100%;
  z-index:24;
  position: fixed;
  font-family: 'Sawarabi Gothic';
}

.contents.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 900px;
    height: calc(100% - 60px);
    padding-top: 60px;
    overflow: scroll; 
    font-family: 'Sawarabi Gothic';
    .card {
      margin-top: 50px; 
    }
    .btn {
    background-color: #1565C0;
    display: table-cell;
    text-align: center;
    }
}


#post_name:focus {
  outline: 0;
  border-bottom: 1px solid #9e9e9e;
  box-shadow: none;
}

.post-form__input:focus{
  outline: 0;
}

input[type="submit"] {
  color: white;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.pagination {
  width: 100%;
  text-align: center;
  background-color: rgb(21, 101, 192);
  position: relative;
}
